@import '_var.scss';


.carousel {
  font-family: $volvo-font;
  // height: 100vh;
  padding: 50px;
  @media screen and (max-width: 420px) {
    padding: 20px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 0;
  }

  &__heading {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    width: 100%;
    margin: 23px 0;
    text-align: center;
    @media screen and (max-width: 320px) {
      font-size: 26px;
    }
  }

  &__slider {
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  &__filter {
    font-size: 16px;
    line-height: 19px;
    width: 50%;
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 420px) {
      width: 100%;
    }
  }

  &__button {
    cursor: pointer;
  }
}
