@font-face {
	font-family: 'Volvo Novum';
	src: url('Volvo Novum-Light.eot');
	src: url('Volvo Novum-Light.eot?#iefix') format('embedded-opentype'), url('Volvo Novum-Light.woff') format('woff'), url('Volvo Novum-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Volvo Novum';
	src: url('Volvo Novum-Bold.eot');
	src: url('Volvo Novum-Bold.eot?#iefix') format('embedded-opentype'), url('Volvo Novum-Bold.woff') format('woff'), url('Volvo Novum-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Volvo Novum';
	src: url('Volvo Novum-Regular.eot');
	src: url('Volvo Novum-Regular.eot?#iefix') format('embedded-opentype'), url('Volvo Novum-Regular.woff') format('woff'), url('Volvo Novum-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Volvo Novum';
	src: url('Volvo Novum-Medium.eot');
	src: url('Volvo Novum-Medium.eot?#iefix') format('embedded-opentype'), url('Volvo Novum-Medium.woff') format('woff'), url('Volvo Novum-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
