@import '_var.scss';
@import '_mixin.scss';

.models {
  font-family: $font_volvo;
  padding: 50px;
  padding-bottom: 40px;
  @media screen and (max-width: 420px) {
    padding: 20px;
  }
  @media screen and (max-width: 320px) {
    padding-top: 0;
  }

  &__heading {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    width: 100%;
    margin: 23px 0;
    text-align: center;
    @media screen and (max-width: 320px) {
      font-size: 26px;
    }
  }

  &__tabs {
    width: 53%;
    margin: 0 auto;
    @media screen and (max-width: 1500px) {
      width: 67%;
    }
    @media screen and (max-width: 1150px) {
      width: 82%;
    }
    @media screen and (max-width: 950px) {
      width: 100%;
    }
  }

  &__controls {
    font-size: 16px;
    line-height: 19px;
    width: 60%;
    margin: 27px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
    @media screen and (max-width: 1300px) {
      width: 70%;
    }
    @include mobile_w100;
  }

  &__button {
    cursor: pointer;
    text-align: center;
    color: $color_inactive;
    user-select: none;
  }

  &__button--active {
    color: $color_active;
  }

  &__group {
    max-height: 235px;
    animation: fade 2s ease-in-out;
    overflow-y: hidden;
    @media screen and (min-width: 330px) and (max-width: 420px) {
      max-height: 245px;
    }

    &:nth-child(3), &:nth-child(4) {
      width: 66%;
      margin: 0 auto;
      @include mobile_w100;

    }
  }


  &__item {
    cursor: pointer;
  }

  &__show-suv {
    @include mobile_w100;
    @media screen and (max-width: 420px) {
      margin-bottom: 0.7em;
    }
  }

  &__show-sedan {
    text-align: right;
    @media screen and (max-width: 420px) {
      width: 33%;
    }
  }

  &__show-cross {
    text-align: left;
    @media screen and (max-width: 420px) {
      width: 47%;
    }
  }

  &__name {
    margin: 0.8em;
    font-size: 18px;
    line-height: 22px;
    color: $color_active;
  }
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
