@import url('../../font/volvonovum/volvo.css');

// $font_volvo: 'Volvo Novum', Verdana, serif;
$font_volvo: 'Volvo Novum', Arial, serif;
$color_active: #161618;
$color_inactive: #8A8A8B;
// $volvo-font: Arial, serif;
